html{
    //background-color: #f3f3f3;
    background-image: url("ab.png");
    background-repeat: repeat;
}

.form-mini-container{
    max-width: 315px;
    margin: 0 auto;
    font: normal 14px sans-serif;
    text-align: center;
    color: #5f5f5f;
}

.form-mini-container h1{
    color:  #4c565e;

    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 2px solid #6caee0;
    font-weight: bold;
    margin: 0;
}

.form-mini{
    box-sizing: border-box;
    padding: 40px;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.form-mini .form-row{
    display: block;
    text-align: left;
    margin-bottom: 23px;
}

.form-mini input,
.form-mini select{
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-mini input[type=radio],
.form-mini input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-mini select{
    color: inherit;
    background-color: #ffffff;
}

.form-mini .form-checkbox span{
    margin-left: 5px;
}

.form-mini .form-checkbox input{
    width: auto;
}

.form-mini .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-mini .form-radio-buttons input{
    width: auto;
}

.form-mini .form-radio-buttons label span{
    margin-left: 8px;
}

.form-mini .form-last-row{
    margin: 35px auto 0;
}

.form-mini button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 14px 22px;
    border: 0;
    cursor: pointer;
}


/* Placeholder color */

.form-mini ::-webkit-input-placeholder {
    color:  #999;
}

.form-mini ::-moz-placeholder {
    color:  #999;
    opacity: 1;
}

.form-mini :-ms-input-placeholder {
    color:  #999;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:15px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: solid #C1C3D1;
  border-bottom-: solid #C1C3D1;
  color:#666B85;
  
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#bf0303;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-mini-container{
        margin-top: 0;
    }

}